table {
  empty-cells: show;
  border-collapse: collapse;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  border: 0.55em solid lightgray;
  border-bottom: none;
  text-align: center;
}
td {
  text-align: center;
  vertical-align: middle;
}
td > input[type="text"] {
  text-align: right;
  width: 8em;
}
tr:nth-child(even) {
  background-color: lightgray;
  cursor: pointer;
  height: 0.55em;
}
input {
  height: 1.75em;
}
